<style>
.batch-container {
  display: table;
  width: 100%;
}

.batch-container-row {
  display: table-row;
  background: rgb(153, 153, 153) none repeat scroll 0% 0%;
}

.batch-container-cell {
  display: table-cell;
}

#header-left, #header-right {
  border-radius: 5px;
  height: 56px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px black;
  vertical-align: middle;
  text-align: center;
}

#header-left {
  width: 528px;
}

#med-list {
  position: absolute; 
  top: 122px; 
  height: 520px; 
  max-height: 520px; 
  border-color: lightgray lightblue lightgray lightgray; 
  border-style: solid; 
  border-width: 1px 2.25px 1px 1px; 
  border-image: none 100% / 1 / 0 stretch; 
  box-shadow: lightblue 0px 0px 30px inset, black 0px 0px 8px; 
  width: 351.78px;
}

#details-container {
  position: absolute; 
  top: 122px; 
  height: 520px; 
  max-height: 520px; 
  /*border-style: solid; 
  border-width: 1px 2.25px 1px 1px; */
  float: right;
  right: 10px;
  /*width: 614.016px;*/
  width: 554.016px;
}

.input-container {
  display: table;
  width: 100%;
}

.input-container-row {
  display: table-row;
}

.input-container-cell {
  display: table-cell;
}

#details-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px 2px;
  font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
  font-size: 26px;
  text-align: center;
}

#details-table th {
  border-spacing: 3px;
  font-size: 26px;
  border-collapse: separate;
}

#selected-med {
  padding-left: 5px;
  font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
  font-size: 15px
}

.lines {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

#inputs {
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  height: 250px;
  padding-top: 15px;
}

.input-elements {
  height: 35px;
  width: 230px;
  font-size: 26px;
  margin-left: 10px;
  text-align: center;
}

.input-elements-selected {
  outline: none;
  border-style: solid;
  border-width: 1px; 
  border-color: blue;
}

.keypad-buttons {
  width: 65px; 
  height: 60px; 
  min-width: 40px; 
  min-height: 40px; 
  margin: 2px; 
  font-size: 24px;

  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 28px;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);

  font-size: 26px;
  padding: 15px 15px 6px 10px !important;
  text-align: center;
  max-width: 40px;
  cursor: pointer;
  max-height: 40px !important;
  border-radius: 10px !important;
  margin: 3px;
}

#controllers {
  margin-left: 100px;
}

#add-row {
  max-width: 80px;
  min-width: 80px;
}

.date-buttons {
  font-size: 1em;
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
  min-height: 45px;
  border-radius: 10px !important;
  margin: 3px;


  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 28px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);

  text-align: center;
  border-spacing: 5px;
/*
  height: 60px;
  margin: auto;
  width: 100%;
*/
}

.date-inputs {
  font-size: 24px; 
  text-align: center; 
  width: 60%;
  min-width: 120px;
}

</style>

<script>

function buildEnteryScreen() {
  var iFrame = document.getElementById("inputFrame" + tstCurrentPage);
  iFrame.style = "height: 90%; width: 96%;";
   
  var mainContainer = document.createElement("div");
  mainContainer.setAttribute("class","batch-container");
  iFrame.appendChild(mainContainer);

  var mainContainerRow = document.createElement("div");
  mainContainerRow.setAttribute("class","batch-container-row");
  mainContainer.appendChild(mainContainerRow);

  var cells = [["Item","left"],["Details","right"]];

  for(var i = 0 ; i < cells.length ; i++){
    var mainContainerCell = document.createElement("div");
    mainContainerCell.setAttribute("class","batch-container-cell");
    mainContainerCell.setAttribute("id","header-" + cells[i][1]);
    mainContainerCell.innerHTML = cells[i][0]
    mainContainerRow.appendChild(mainContainerCell);
  }


  var mainContainerRow = document.createElement("div");
  mainContainerRow.setAttribute("class","batch-container-row");
  mainContainer.appendChild(mainContainerRow);

  var cells = ["med-list", "details-container"];

  for(var i = 0 ; i < cells.length ; i++){
    var mainContainerCell = document.createElement("div");
    mainContainerCell.setAttribute("class","batch-container-cell");
    mainContainerCell.setAttribute("id", cells[i]);
    mainContainerRow.appendChild(mainContainerCell);
  }


  buildMedList();
  buildInputs();
  controllerDiv();

}

function controllerDiv() { 
  var cell = document.getElementById("details-container");
  var table = document.createElement("table");
  table.setAttribute("id","controllers");
  cell.appendChild(table);
}

function buildInputs() {
  var cell  = document.getElementById("details-container");
  
  var inputContainer = document.createElement("div");
  inputContainer.setAttribute("class","input-container");
  cell.appendChild(inputContainer);

  var inputContainerRow = document.createElement("div");
  inputContainerRow.setAttribute("class","input-container-row");
  inputContainer.appendChild(inputContainerRow);

  var inputContainerCell = document.createElement("div");
  inputContainerCell.setAttribute("class","input-container-cell");
  inputContainerCell.setAttribute("id","selected-med");
  inputContainerRow.appendChild(inputContainerCell);

  var inputContainerRow = document.createElement("div");
  inputContainerRow.setAttribute("class","input-container-row");
  inputContainer.appendChild(inputContainerRow);

  var inputContainerCell = document.createElement("div");
  inputContainerCell.setAttribute("class","input-container-cell lines");
  inputContainerCell.innerHTML = "&nbsp;";
  inputContainerRow.appendChild(inputContainerCell);
  
  /*var line = document.createElement("hr");
  line.setAttribute("class","lines");
  inputContainerRow.appendChild(line);
  /* .................................................... */

  var Row2 = document.createElement("div");
  Row2.setAttribute("class","input-container-row");
  inputContainer.appendChild(Row2);

  var Cell2 = document.createElement("div");
  Cell2.setAttribute("class","input-container-cell");
  Cell2.setAttribute("id","inputs");
  Row2.appendChild(Cell2);

  var table = document.createElement("table");
  table.setAttribute("id","details-table");
  Cell2.appendChild(table);

  var tr = document.createElement("tr");
  table.appendChild(tr);
  ths = ["Total tins","Date of expiry"];
  for(var i = 0 ; i < ths.length ; i++){
    var th = document.createElement("th");
    th.innerHTML = ths[i];
    tr.appendChild(th);
  }


  var tbody = document.createElement("tbody");
  tbody.setAttribute("id","details-inputs");
  table.appendChild(tbody);

}

function buildMedList() {
  var cell  = document.getElementById("med-list");
  var ul    = document.createElement("ul");
  cell.appendChild(ul);

  <%(params[:drug_name] || []).each do |drug_name|%>
    var li = document.createElement("li");
    li.innerHTML = "<%= drug_name %>";
    li.setAttribute("onmousedown","selectMed('<%= drug_name %>');");
    ul.appendChild(li);
  <%end%>

}

var setMedication = {};

function selectMed(drug_name) {
  var table = document.getElementById("details-table");
  var selected_med = document.getElementById("selected-med");
  selected_med.innerHTML = drug_name;

  var tbody = document.getElementById("details-inputs");
  tbody.innerHTML = null;

  var tr = document.createElement("tr");
  tbody.appendChild(tr);

  var tds = ["text","date"];

  for(var i = 0 ; i < tds.length ; i++){
    var td = document.createElement("td");
    var input = document.createElement("input");
    if(tds[i] == "text"){
      input.setAttribute("type", tds[i]);
    }else{
      input.setAttribute("field_type", "date");
    }

    input.setAttribute("class", "input-elements");
    input.setAttribute("onfocus", "highlightText(this);");
    input.setAttribute("id", tds[i] + "_" + drug_name);
    td.appendChild(input);
    tr.appendChild(td);
  }
  

}

function highlightText(e) {
  var inputs = document.getElementsByClassName("input-elements");
  for(var i = 0 ; i < inputs.length ; i++){
    inputs[i].setAttribute("class","input-elements");
  }
  e.setAttribute("class","input-elements input-elements-selected");

  if(e.getAttribute("type") == "text") {
    buildKeyPad(e);
  }else{
    buildExpiryDate(e);
  }
}

function buildKeyPad(e) {
  var keypad_attributes = [];
  keypad_attributes.push([1,2,3,"←"]);
  keypad_attributes.push([4,5,6,0]);
  keypad_attributes.push([7,8,9,".","Row+"]);

  var table = document.getElementById("controllers");
  table.innerHTML = null;


  for(var i = 0 ; i < keypad_attributes.length ; i++) {
    var tr = document.createElement("tr");
    table.appendChild(tr);

    for(var j = 0 ; j < keypad_attributes[i].length ; j++){
      var td = document.createElement('td');
      tr.appendChild(td);

      var span = document.createElement('span');
      span.setAttribute("class","keypad-buttons");
      span.setAttribute("onmousedown","enterKeypadValue(this);");
      span.innerHTML = keypad_attributes[i][j];
      if(keypad_attributes[i][j] == "Row+")
        span.setAttribute("id","add-row");

      td.appendChild(span);
    }
  }

}

function enterKeypadValue(e){
  var inputBox = document.getElementsByClassName("input-elements-selected")[0];

  try{

    if(e.innerHTML.match(/←/i)){
      inputBox.value = inputBox.value.substring(0, inputBox.value.length - 1);
    }else if(e.innerHTML.match(/Row/i)){
    }else{
      inputBox.value += e.innerHTML;
    }

  }catch(x) { }

}

function buildExpiryDate(e) {
  var table = document.getElementById("controllers");
  table.innerHTML = null;


  var tr = document.createElement("tr");
  table.appendChild(tr);

  /* .............................. */
  var td = document.createElement("td");
  var span = document.createElement("span");
  span.setAttribute("class","date-buttons");
  span.setAttribute("id","plus-year");
  span.innerHTML = "+"
  td.appendChild(span);
  tr.appendChild(td);
  /* .............................. */


  /* .............................. */
  var td = document.createElement("td");
  var span = document.createElement("span");
  span.setAttribute("class","date-buttons");
  span.setAttribute("id","plus-month");
  span.innerHTML = "+"
  td.appendChild(span);
  tr.appendChild(td);
  /* .............................. */


  var tr = document.createElement("tr");
  table.appendChild(tr);

  /* .............................. */
  var td = document.createElement("td");
  var input = document.createElement("input");
  input.setAttribute("class","date-inputs");
  input.setAttribute("id","input-year");
  td.appendChild(input);
  tr.appendChild(td);
  /* .............................. */


  /* .............................. */
  var td = document.createElement("td");
  var input = document.createElement("input");
  input.setAttribute("class","date-inputs");
  input.setAttribute("id","input-month");
  td.appendChild(input);
  tr.appendChild(td);
  /* .............................. */


  var tr = document.createElement("tr");
  table.appendChild(tr);

  /* .............................. */
  var td = document.createElement("td");
  var span = document.createElement("span");
  span.setAttribute("class","date-buttons");
  span.setAttribute("id","minus-year");
  span.innerHTML = "-"
  td.appendChild(span);
  tr.appendChild(td);
  /* .............................. */

  /* .............................. */
  var td = document.createElement("td");
  var span = document.createElement("span");
  span.setAttribute("class","date-buttons");
  span.setAttribute("id","minus-month");
  span.innerHTML = "-"
  td.appendChild(span);
  tr.appendChild(td);
  /* .............................. */



}
</script>




<body id="mateme">
  <div id="container">
    <div id="content">


      <form onsubmit="submitEncounter();">

        <input type="text" name="location" tt_onLoad="__$('keyboard').style.display = 'none'; buildEnteryScreen();" 
          tt_pageStyleClass= "NoControls" helpText="Batch details" optional = "true"/>


      </form>

   </div>
 </div>
</body>

